html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
body{
	font-size:14px; 
	font-family: 'Montserrat', sans-serif;
	color:#232323;
	overflow-x: hidden;
	background: #fff;
}
input, a, span{}
img, a{ 
	outline:none; 
	border:none;
}

a:link, a:visited, a:hover, a:active, a:focus {
	text-decoration:none;
	outline: none;
	border:none;
}
*{transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s;}
*:hover{transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; }

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 10px 0 10px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

#bodycontent{padding-top: 110px;}

.topheaderbar{ width: 100%; height: 40px; background: #000; color: #fff; font-size: 11px;font-weight: 600; }
.leftdetails{ margin: 13px 0 0; }
.leftdetails a{ color: #fff; }
.leftdetails a:hover{ color: #fff; }
.rightdetails select{ background: none; border:0; color: #fff; font-size: 11px; outline: none; margin: 12px 0 0; }
.rightdetails option{font-size: 11px; background: #000; }
.rightdetails .btn-primary{ border-radius: 0; background: #0072bc; border-color:#0072bc; font-size: 11px; outline: none;font-weight: 600;    padding: 5px 13px;    margin: -2px 0 0 0;    display: inline;  }
.rightdetails .btn-primary:hover{background: #000; border-color:#0072bc;}
.callbtn{     margin-right: 1px !important; }

#header{ background: #fff; }
#header.navbar{ /*min-height: 110px; */}
a.logo{ color: #000; font-size: 28px; font-weight: 700; }
.navbar>.container .navbar-brand{ margin-left: 0 !important }
#navbar{ float: right; }
.navbar-nav>li>a{ font-size: 13px; color: #000; text-transform: uppercase;    font-weight: 600; }
.nav>li>a:focus, .nav>li>a:hover { text-decoration: none;background-color:transparent; color: #0072bc;}
.navbar-toggle{    margin-right: 30px;    background-color: #0072bc;    border: 1px solid #0072bc; cursor: pointer;}
.navbar-toggle .icon-bar{    background: #fff;}

#mainbanner{ background: url(../images/bannerbg.jpg) no-repeat; background-size:100% 100%; height: 767px;  }
.bannerform{ width: 100%; background: rgba(0, 0, 0, 0.86); padding: 20px 45px; color: #8a8a8a;  }
.toptagline{ font-size: 13px;  margin: 35px 0 17px; }
.formheading{ color: #fff; font-size: 38px; font-weight: 700; text-transform: uppercase;line-height: 42px; margin-bottom: 30px; }
.border-color-medium-dark-gray {border-color: #363636;}
.bg-transparent {background-color: transparent;}
.medium-input, .medium-textarea, .medium-select select {
    padding: 12px 20px;
    font-size: 14px;
    line-height: normal;
    border-radius: 0;
}
.bannerform input, .bannerform textarea, .bannerform select {
    border: 1px solid #363636;
    width: 100%;
    margin: 0 0 9px 0;
    max-width: 100%;
    resize: none;
}
.bannerform input:focus{ outline: none; border-color: #585858;}
.bannerform #form{ padding: 0 10px 12px; }
.exampletext{  font-size: 11px;}
.m-b-18{ margin-bottom: 18px; }
.sendbtn{ border-radius: 30px; color: #fff; text-transform: uppercase; background: #0072bc; font-size: 14px;padding: 10px 30px;
	font-weight: 500;border-width: 2px; border-color:#0072bc; }
.sendbtn.focus, .sendbtn:focus, .sendbtn:hover { outline: none;color: #fff;text-decoration: none; background: #000; border-color:#0072bc; border-width: 2px; }

.bannerform #form input[type=checkbox]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  display: none;
}

.bannerform #form input[type=checkbox]:not(old) + label{
  display      : inline-block;
  font-size: 12px;
    font-weight: 400;
    vertical-align: top;
}

.bannerform #form input[type=checkbox]:not(old) + label > span{
  display          : inline-block;
  width            : 18px;
  height           : 18px;
  margin           : 0 15px 0 0;
  border           : 1px solid #363636;
  border-radius    : 0;
  background       : transparent;
  vertical-align   : bottom;
}

.bannerform #form input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display: block;
    width: 16px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    background: #0072bc;
    height: 16px;
}

.commonsection{ padding: 90px 0 80px; }
.sectiontoptext{ font-size: 13px; color: #8a8a8a; text-transform: uppercase; margin-bottom: 13px;font-weight: 600; }
.sectionsbheading{ font-size: 32px; color: #232323; margin-bottom: 60px;    font-weight: 700; }

/* Team Slider Section Css starts */
.membername{font-family: 'Roboto', sans-serif; color: #232323; font-size: 12px; text-align: center; margin-bottom: 5px; font-weight: 500; text-transform: uppercase;}
.designation{font-family: 'Roboto', sans-serif; color: #8a8a8a; font-size: 12px; text-align: center; font-weight: 500; text-transform: uppercase;}
.slick-slide img{ margin-bottom: 20px; }
.imgcontainer {position: relative;width: 100%;}

.image {display: block;width: 100%;height: auto;}

.overlay {position: absolute;bottom: 0;left: 0;right: 0;background-color:rgba(0,114,188,0.7);overflow: hidden;width: 100%;height: 0;transition: .5s ease;}

.imgcontainer:hover .overlay {height: 100%;}

.text {white-space: nowrap; color: white;font-size: 20px;position: absolute;overflow: hidden;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);}

.text a{ background: #000; border-radius: 25px;padding:8px 30px; color: #fff; font-size: 14px; line-height: 36px; cursor: pointer; }

.text a:hover{background: #0072bc; }

#teamdetailsmodal .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #1c1c1c;
    color: #fff;
    text-align: center;
}
#teamdetailsmodal .close { font-weight: 500;color: #fff;  text-shadow: 0 1px 0 #fff; opacity: 1;}

#teamdetailsmodal input, #teamdetailsmodal textarea, #teamdetailsmodal select {
    border: 1px solid #0072bc;
    width: 100%;    color: #8f8f8f;
    margin: 0 0 9px 0;
    max-width: 100%;
    resize: none;
    border-bottom: 2px solid #0072bc;
}
#teamdetailsmodal textarea{ height: 145px; }
#teamdetailsmodal input:focus, .contactsection textarea:focus{ outline: none; border-color: #585858;}
#teamdetailsmodal #contactform{ padding: 40px 0; }
#teamdetailsmodal input[type=checkbox]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  display: none;
}

#teamdetailsmodal input[type=checkbox]:not(old) + label{
  display      : inline-block;
  font-size: 12px;
    font-weight: 400;
    vertical-align: top;
}

#teamdetailsmodal input[type=checkbox]:not(old) + label > span{
  display          : inline-block;
  width            : 18px;
  height           : 18px;
  margin           : 0 15px 0 0;
  border           : 1px solid #0072bc;
  border-radius    : 0;
  background       : transparent;
  vertical-align   : bottom;
}

#teamdetailsmodal input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display: block;
    width: 16px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    background: #0072bc;
    height: 16px;
}

/*  Team Slider Section Css Ends */

/* Testimononial section  */
.black-bg{ background: #1c1c1c; }
.black-bg .sectionsbheading{ color: #fff; margin-bottom: 10px;}
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #fff;
  font-size: 2.3em;
  text-shadow: none;
      margin-top: -12px;
  width: auto;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
}
#quote-carousel img{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}
@media (max-width: 768px) { 
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

.testimonialtext{ font-size: 14px; color: #6f6f6f; padding: 0 40px;font-family: 'Roboto', sans-serif;line-height: 22px; margin: 0 0 50px}
blockquote small{ margin:0 0 10px; color: #fff; font-size: 13px; }
blockquote small.clientlocation{ color: #6f6f6f; }
blockquote small:before{ display: none; }

/* SERCVICES Section css */

#services .heading{ color: #1c1c1c; font-size: 13px; margin-bottom: 20px; text-align: center; font-weight: 600; }
#services .paragraph{ color: #6f6f6f; font-size: 14px; font-family: 'Roboto', sans-serif;text-align: center;}
.iconbg{ width: 98px; height: 98px; margin: 0 auto 25px;display: table;}
.icon{ width: 100%; height: 98px; border-radius: 50%; background: #0072bc;display: table-cell;vertical-align: middle;text-align: center; }
.servicebg{ margin-bottom: 65px; }
.servicebg:hover .icon{ background: #000;    box-shadow: 0px 0px 0px 5px rgba(23,43,72,0.15); }

/* FAQ Section CSS */
.faqbg{background: url(../images/faqbg.jpg) no-repeat; background-size:100% 100%; height: 763px;}
.faqsection{ background: #1c1c1c; padding: 70px;    height: 763px; }
#faq .container-fluid{ padding-left: 0; padding-right: 0; }
#faq .container-fluid .col-md-6{ padding: 0; }
ul.faqli{ display: block; margin: 0; padding: 0; }
ul.faqli li{  margin: 0 0 7px; padding: 0; font-size: 13px; color: #6f6f6f;font-family: 'Roboto', sans-serif; font-weight: 500; }
#faq  .panel-group .panel{ border-radius: 0; }
#faq .panel-default { border-color: transparent;}
#faq .glyphicon{ float: right; color: #00aeef; }
#faq .panel-default>.panel-heading {  color: #00aeef;background-color:transparent;border-color: transparent;}
#faq .panel-title{ font-size: 12px;font-family: 'Roboto', sans-serif; text-transform: uppercase; }
#faq .panel{ background: transparent; }
#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {   border-top-color: #0072bc;}
#faq .panel-body {margin: 5px 15px 50px;}
#faq .panel-group {margin-top: 30px;}

/* CALL US SECTION CSS */
.sbheading{ font-size: 14px; color: #6f6f6f;font-family: 'Roboto', sans-serif; text-align: center;  margin-bottom: 5px; font-weight: 500;}
.phnnumber{ font-size: 72px; text-align: center; color: #0072bc; font-weight: 600; }
#callus .sectionsbheading{ margin-bottom: 10px; }

/* CONTACT SECTION CSS */
#contact .container-fluid{ padding-left: 0; padding-right: 0; }
#contact .container-fluid .col-md-6.contactwrap{ padding: 0; }
.contactbg{background: url(../images/contactbg.jpg) no-repeat; background-size:100% 100%; height: 763px;}
.contactsection{ background: #1c1c1c; padding: 70px;    height: 763px; }
.contact-tagline{ color: #6f6f6f; font-size: 13px; font-weight: 500; line-height: 22px; font-family: 'Roboto', sans-serif;}
.contactsection input, .contactsection textarea, .contactsection select {
    border: 1px solid #363636;
    width: 100%;    color: #8f8f8f;
    margin: 0 0 9px 0;
    max-width: 100%;
    resize: none;
}
.contactsection textarea{ height: 145px; }
.contactsection input:focus, .contactsection textarea:focus{ outline: none; border-color: #585858;}
.contactsection #contactform{ padding: 40px 0; }

/* CONTACTDETAILS SECTION CSS STARTS  */
#contactdetails .heading{ color: #1c1c1c; font-size: 13px; margin-bottom: 20px; text-align: center; font-weight: 600; }
#contactdetails .paragraph{ color: #6f6f6f; font-size: 14px; font-family: 'Roboto', sans-serif;text-align: center;}
#contactdetails .paragraph a{color: #6f6f6f;}
#contactdetails .paragraph a:hover{color: #0072bc;}
#googlemap iframe{width: 100%; height: 449px;}
#footer{display: inline-block; width: 100%; background: #141414; color: #6f6f6f;font-size: 14px; font-family: 'Roboto', sans-serif; padding: 25px 0; float: left;}
.socialicons ul{ list-style: none; margin: 0; padding: 0; }
.socialicons ul li{ display: inline; list-style: none; margin: 0 0 0 15px; padding: 0; }
.socialicons ul li a{color: #fff; font-size: 14px; font-weight: 500;}
.socialicons ul li a:hover{color: #0072bc;}

/* Responsive CSS Starts */
@media only screen and (max-width : 550px) {
	.topheaderbar{ height: auto; }
	.leftdetails, .rightdetails {width: 100%;text-align: center;}
	.rightdetails{ padding-bottom: 7px; }
	#bodycontent.container { margin-top: 162px;}
	a.logo{ font-size: 25px; }
  .formheading, .sectionsbheading{font-size: 20px;line-height: normal;}
  .phnnumber {   font-size: 30px !important;}
}
@media only screen and (max-width : 767px) {
	.navbar>.container .navbar-brand {margin-left: 15px !important;}
	#navbar { text-align: center;background: #000;color: #fff;float: none;}
	.navbar-nav>li>a{color: #fff; }
  .phnnumber{ font-size: 48px; }
  .faqsection, .contactsection{ height: auto; }
  .commonsection {   padding: 40px 20px 40px;}
  .copyrights{text-align: center;font-size: 12px;width: 100%; margin-bottom: 10px;}
  .socialicons{text-align: center;width: 100%;}
  #mainbanner{    min-height: 767px;    height: 100%;max-height: 800px;}
  #teamdetailsmodal .close{    font-size: 32px;    margin-top: -8px;}
  .bannerform { height: 100%;max-height: 800px;min-height: 767px;}

}
@media only screen and (min-width : 768px) and (max-width : 991px) {
  .navbar-nav > li > a{ font-size: 12px;padding: 17px 8px 0; }
  a.logo{font-size: 22px;}
  .bannerform { height: 100%;max-height: 800px;min-height: 767px;}
}
@media only screen and (min-width : 1400px) {
  #mainbanner, .bannerform{    height: 763px;}
  .bannerform { height: 100%;max-height: 800px;min-height: 767px;}
}
@media only screen and (min-width : 1000px) and (max-width : 1200px) {
 .faqsection {padding: 30px 70px 0;}
  #faq .panel-body {margin: 5px 15px 5px;}
  .bannerform { height: 100%;max-height: 800px;min-height: 767px;}
  .formheading{ font-size: 24px; line-height: normal; }
}
@media only screen and (max-width : 479px) {
  .contactbg, .faqbg{background-size: 100% 100%; height: 400px;}
}
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .contactbg, .faqbg{background-size: 100% 100%; height: 500px;}
}
/* Responsive CSS Ends */