
    .textinput{ margin-top: 40px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 7px #a4a4a4;
    border-radius: 2px;}

       

    .commonbtns{margin: 40px 0;}


    .commonbtns button{ width: 100%; margin-bottom: 20px; border: 1px solid #ddd;
     box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
    padding: 7px;
    font-weight: bold; font-size: 14px;
    border-radius: 3px;
     }

     .textinput textarea{ border:0;resize: none;}

     .textinput textarea:focus{border:0;outline: 0;}

     .topheaderbar{font-weight: bold;    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;}

    .no-padding{padding-left: 0; padding-right: 0;}
